* {
  box-sizing: border-box;
}

body {
  margin: 0;
  // font-family: 'Montserrat', sans-serif;
  font-family: 'Merriweather', serif;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
a,
p {
  margin: 0;
  padding: 0;
}

a:hover {
  color: #F78065;
}