@import "common";
@import "blocks/container";
@import "blocks/header";
@import "blocks/rectangle";
@import "blocks/first";
@import "blocks/second";
@import "blocks/third";
@import "blocks/four";
@import "blocks/five";
@import "blocks/footer";



// Устройства (меньше чем 1400px)
// @media (max-width: 1399.98px) {
//   ...
// }

// Устройства (меньше чем 1200px)
@media (max-width: 1199.98px) {
  .container {
    max-width: 1100px;
    padding: 0 4em;
  }

  .first {
    padding: 4em 0;

    &__list {
      flex-wrap: wrap;
    }

    &__item {
      margin-top: 3em;
    }
  }

  .second {
    padding: 7em 0;

    &__list {
      flex-wrap: wrap;
    }

    &__item {
      margin: 5em 0 0;
    }

    &__item-img {
      padding-bottom: 2em;
    }
  }

  .show-me__list {
    display: none;
  }

  .third {
    &__list {
      flex-wrap: wrap;
    }

    &__item:nth-child(3) {
      margin-top: 4em;
    }

    &__column-1 {
      margin: 0 2em;
    }
  }

  .line {
    padding: 2em 0;
  }

  .img-line {
    width: 100%;
  }

  .four {
    padding: 5em 0;
  }

  .five {
    padding-top: 3em;

    &__inner {
      flex-wrap: wrap;
    }

    &__column-1 {
      margin-left: auto;
    }

    &__list {
      margin-top: 4em;
    }
  }
}

// Устройства (меньше чем 992px)
@media (max-width: 991.98px) {
  .first {
    padding: 3em 0;

    &__item {
      margin: 2em 0;
    }
  }
}

// Устройства (меньше чем 768px)
// @media (max-width: 767.98px) {
//   ...
// }

// Маленькие устройства (меньше чем 576px)
// @media (max-width: 575.98px) {
//   ...
// }